#content #main-content .post {
  width: 100%;
  margin: 0;
  min-height: 0; }
  #content #main-content .post ul.tags {
    float: right;
    margin: 5px 10px; }
  #content #main-content .post section {
    display: none; }
  #content #main-content .post h3.title {
    float: left;
    margin: 6px 0 0 0; }
