@font-face {
  font-family: junction-fallback;
  src: url("/media/fonts/junction.ttf");
}
@font-face {
  font-family: junction;
  src: url("/media/fonts/Junction-webfont.woff");
}
#header {
  background-color: #fff;
  padding: 20px 20px 0;
  color: $text;
  text-decoration: none;
  border-bottom: 20px solid #777;
  position: relative;
}
#header a {
  text-decoration: none;
  color: #999;
}
#header .title {
  margin: 50px 20px 20px;
  font-size: 2.4em;
  font-weight: bold;
font-family
/* 'junction', 'junction-fallback', */
}
#header .nav-internal ul,
#header .nav-external ul {
  margin-bottom: 0;
}
#header .nav-internal ul li a:hover,
#header .nav-external ul li a:hover,
#header .nav-internal ul li a.active,
#header .nav-external ul li a.active {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #fdb813;
}
#header .nav-internal ul li a.active,
#header .nav-external ul li a.active {
  color: #fdb813;
}
#header .nav-internal ul li a,
#header .nav-external ul li a {
  border-bottom: 1px solid #fff;
}
#header .nav-internal .subnav li span.pusher,
#header .nav-external .subnav li span.pusher {
  padding: 8px 0 8px 20px;
  line-height: 35px;
}
#header .nav-internal .subnav li a,
#header .nav-external .subnav li a {
  border-top: 1px solid #fff;
}
#header .nav-internal .subnav li a:hover,
#header .nav-external .subnav li a:hover,
#header .nav-internal .subnav li a.active,
#header .nav-external .subnav li a.active {
  border-bottom: 1px solid #546bd6;
}
#header .nav-internal .subnav li a.active,
#header .nav-external .subnav li a.active {
  color: #546bd6;
}
#header .nav-internal {
  float: left;
  margin-left: 10px;
}
#header .nav-external {
  position: absolute;
  bottom: 0;
  right: 20px;
}
@media (max-width: 650px) {
  #header .nav-external {
    display: none;
  }
  #header .nav-internal {
    margin-left: none;
  }
  #header .title {
    font-size: 1.4em;
    margin: 0 0 10px;
    text-align: center;
  }
}
