#header {
  background-color: #00b4ce;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-bottom: 20px solid #008294; }
  #header a {
    text-decoration: none;
    color: white; }
  #header .title {
    margin: 50px 20px 20px;
    font-size: 2.4em;
    font-weight: bold; }
  #header .nav-internal ul, #header .nav-external ul {
    margin-bottom: 0; }
    #header .nav-internal ul li a:hover, #header .nav-internal ul li a.active, #header .nav-external ul li a:hover, #header .nav-external ul li a.active {
      background-color: transparent;
      border-radius: 0;
      border-bottom: 1px solid white; }
  #header .nav-internal {
    float: left;
    margin-left: 10px; }
  #header .nav-external {
    float: right; }
