@font-face {
  font-family: junction-fallback;
  src: url("/media/fonts/junction.ttf");
}
@font-face {
  font-family: junction;
  src: url("/media/fonts/Junction-webfont.woff");
}
#header .bottom-bar {
  background-color: #777;
  padding-left: 30px;
  min-height: 20px;
}
#header .bottom-bar ul.nav {
  margin-bottom: 0;
}
#header .bottom-bar ul.nav li a {
  border: none;
  color: #fff;
}
#header .bottom-bar ul.nav li a:hover,
#header .bottom-bar ul.nav li a.active {
  color: #fdb813;
  background-color: transparent;
}
#header .main {
  background-color: #fff;
  padding: 20px 20px 0;
  color: $text;
  text-decoration: none;
  position: relative;
}
#header .main a {
  text-decoration: none;
  color: #999;
}
#header .main .title {
  margin: 50px 20px 20px;
  font-size: 2.4em;
  font-weight: bold;
font-family
/* 'junction', 'junction-fallback', */
}
#header .main .nav-internal ul,
#header .main .nav-external ul {
  margin-bottom: 0;
}
#header .main .nav-internal ul li a:hover,
#header .main .nav-external ul li a:hover,
#header .main .nav-internal ul li a.active,
#header .main .nav-external ul li a.active {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #fdb813;
}
#header .main .nav-internal ul li a.active,
#header .main .nav-external ul li a.active {
  color: #fdb813;
}
#header .main .nav-internal ul li a,
#header .main .nav-external ul li a {
  border-radius: 0;
  border-bottom: 1px solid #fff;
}
#header .main .nav-internal {
  float: left;
  margin-left: 10px;
}
#header .main .nav-external {
  position: absolute;
  bottom: 0;
  right: 20px;
}
@media (max-width: 650px) {
  #header .main .nav-external {
    display: none;
  }
  #header .main .nav-internal {
    margin-left: none;
  }
  #header .main .title {
    font-size: 1.4em;
    margin: 0 0 10px;
    text-align: center;
  }
}
