// colors gotten from http://www.colourlovers.com/palette/1024017/ReadyDone -
// by doublejosh

$main: #2F8DCA;
$second: #51B4D4;
$accent: #FF8F24;
$accent2: #FEAE37;
$base: #61473A;

// from http://colorschemedesigner.com/#3l21T--K-pBCM

$base: white; //#00B4CE;
$darker: #777; //#008294;
$lighter: #aaa;
$accent: #FF7A00;
$dark_accent: #B85800;
$light_accent: #FFA44F;
$text: #999;
$text-active: #FDB813;


