{% restructuredtext %}

.. image:: /media/images/me_cleaned_square.png

Jared Forsyth

I am a hopeless idealist who is far too quick to judge. I love children, the outdoors, and rich discussion.

I am a mormon.

{% endrestructuredtext %}
