<section class="about">
{% restructuredtext %}

.. image:: /media/images/me_cleaned_square.png

{% if resource.meta.sidebar != 'no-about' %}
I want to change the world
--------------------------

I am an idealist, a singer, and a philosopher. I am often too quick to judge. I love children, the outdoors, and rich discussion.

I am a mormon
-------------
{% endif %}
{% endrestructuredtext %}
</section>
