{% restructuredtext %}

.. image:: /media/images/me_cleaned_square.png

{% if resource.meta.sidebar != 'no-about' %}
Jared Forsyth

I am a hopeless idealist who is far too quick to judge. I love children, the outdoors, and rich discussion.

I am a mormon.
{% endif %}
{% endrestructuredtext %}
