!!!
html
    head
        title
            block head_title
                | Jared | Forsyth
        block head_css
            link(rel='stylesheet', href='/media/bootstrap/css/bootstrap.css')
            link(rel='stylesheet', href='/media/css/general.css')
        block head_js
    body(class='{% block body_class %}{% endblock %}')
        block body
