extends with-header
append head_css
    link(rel="stylesheet", href='/media/css/layout.css')
block content
    #content.container-fluid.clearfix
        .row-fluid
            #main-content.clearfix
                block main_content
            #right-sidebar
                block right_sidebar
                    include about-sidebar.j2

