{% extends "fluid-blocks.jade" %}
{% from "macros.j2" import render_excerpt with context  %}
{% block main_content %}

{% for res in resource.node.walk_resources_sorted_by_time() %}
{% if not res.status or res.status == 'public' %}
<div class="post">
    {{ render_excerpt(res) }}
</div>
{% endif %}
{% endfor %}
{% endblock %}
