{% macro render_excerpt(res, class=None, mode="excerpt") %}
{% refer to res.url as post %}
<article class="post {{ class if class }}">
    <header>
        <a class="date" href="{{ content_url(res.url) }}">
            <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
                {{ res.meta.created.strftime('%d %b<br>%Y') }}
            </time>
        </a>
        {% if mode == 'titles' %}{# put the tags first, so they float right #}
            <ul class="tags">
            {% if res.meta.tags %}
                {% for tag in res.meta.tags %}
                    <li><a class="small" href="{{ content_url('blog/tags/'~tag~'.html') }}">
                        {{ tag }}
                    </a></li>
                {% endfor %}
            {% endif %}
            </ul>
            <h3 class="title"><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
        {% else %}
            <h3 class="title"><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
            <ul class="tags">
            {% if res.meta.tags %}
                {% for tag in res.meta.tags %}
                    <li><a class="small" href="{{ content_url('blog/tags/'~tag~'.html') }}">
                        {{ tag }}
                    </a></li>
                {% endfor %}
            {% endif %}
            </ul>
        {% endif %}
    </header>
    <section class="body">
        {% if mode == 'excerpt' %}
        <a href="{{ content_url(res.url) }}">
{% filter restructuredtext %}
{{ post.image }}
{% endfilter %}
        </a>
{% filter restructuredtext %}
{{ post.excerpt }}
{% endfilter %}
        {% elif mode == 'full' %}
{% filter restructuredtext %}
{{ post.html|strip_meta }}
{% endfilter %}
        {% endif %}
    </section>
</article>
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
    {% set subnav = [] -%}
    <ul class="nav nav-pills">
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% elif item.type == 'external' -%}
        {% else -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
        {% set classes = ['button', 'white'] -%}
        {% if active and item.subnav %}{% do subnav.extend(item.subnav) %}{% endif %}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li>
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                {% if item.type == 'external' %}
                target="_blank"
                {% endif %}
                {% if item.url != resource.url %}
                href="{{ content_url(item.url) }}"
                {% endif %}
                >
                {{ item.name }}
            </a>
        </li>
        {%- endfor %}
    </ul>
    {% if subnav %}
    <ul class="nav nav-pills subnav">
        <li><span class="pusher">&raquo;</span></li>
        {% for item in subnav -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% elif item.type == 'external' -%}
        {% else -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
        {% set classes = ['button', 'white'] -%}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li>
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                {% if item.type == 'external' %}
                target="_blank"
                {% endif %}
                {% if item.url != resource.url %}
                href="{{ content_url(item.url) }}"
                {% endif %}
                >
                {{ item.name }}
            </a>
        </li>
        {%- endfor %}
    </ul>
    {% endif %}
</nav>
{%- endif %}
{%- endmacro %}
