{% extends "layout.jade" %}
{% from "macros.j2" import render_excerpt with context  %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="/media/css/blog-all.css">
<link rel="stylesheet" href="/media/css/tagged-posts.css">
{% endblock %}

{% block main_content %}
<header>
<h1 class="tag title">tag: {{ tag.name }}</h1>
</header>

<section class="archives">
{% for res in walker() %}
{% if not res.meta.status or res.meta.status == 'public' %}
    {{ render_excerpt(res, mode='all') }}
{% endif %}
{% endfor %}
</section>

{% block end_js %}
{{ super() }}
<script type="text/javascript" src="/media/js/blog-index.js"></script>
{% endblock %}

{#
<ul class="posts clear">
{% for resource in walker() -%}
{% if not resource.meta.status or resource.meta.status == 'public' %}
<li class="post clear">
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        {{ resource.meta.created.strftime('%a, %d %b %Y') }}
    </time>
    <a href="{{ content_url(resource.url) }}">{{ resource.meta.title }}</a>
    {% if resource.meta.tags %}
    <ul class="tags">
    {% for tag in resource.meta.tags %}
    <li>
        <a class="small" href="{{ content_url('blog/tags/'~tag~'.html') }}">
            {{ tag }}
        </a>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
</li>
{% endif %}
{%- endfor %}
</ul>
#}
</section>
{% endblock %}
