extends base
append head_css
    link(rel='stylesheet', href='/media/css/header.css')
block body
    #header.clearfix
        .title 
            block content_title 
                | Jared Forsyth
        .nav-internal
            block nav
                | {% from "macros.j2" import render_nav with context %}
                | {{ render_nav(menu, 'nav nav-pills') }}
        .nav-external
            block nav_external
                | {% from "macros.j2" import render_nav with context %}
                | {{ render_nav(external_nav, 'nav nav-pills') }}
    block content
