
ErrorDocument 500 /

RewriteEngine on

# just grab files if they exist
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# rewrite the blog posts
RewriteRule ^(blog)/(\d+)/(\w+)/(\d+)/([^/]+)/?$  $1/$2-$3-$4-$5.html [L]

# if all you need is a .html, go for it
RewriteCond %{REQUEST_URI} !\.html$
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ /%{REQUEST_URI}.html [L]

RewriteCond %{REQUEST_URI} !=/404.html
RewriteRule (.*) /404.html [L]

