
@import "colors";
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:100);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:200);

@font-face {
    font-family: junction-fallback;
    src: url('/media/fonts/junction.ttf');
}
@font-face {
    font-family: junction;
    src: url('/media/fonts/Junction-webfont.woff');
}

#header {
    background-color: $base;
    padding: 20px 20px 0;
    color: $text;
    text-decoration: none;
    border-bottom: 20px solid $darker;

    a {
        text-decoration: none;
        color: $text;
    }

    .title {
        margin: 50px 20px 20px;
        font-size: 2.4em;
        font-weight: bold;
        font-family: /* 'junction', 'junction-fallback', */ "Helvetica";
    }

    .nav-internal, .nav-external {
        ul {
            margin-bottom: 0;
            li a:hover, li a.active {
                background-color: transparent;
                border-radius: 0;
                border-bottom: 1px solid $text-active;
            }
            li a.active {
                color: $text-active;
            }
            li a {
                border-bottom: 1px solid white;
            }
        }
    }
    .nav-internal {
        float: left;
        margin-left: 10px;
    }
    .nav-external {
        float: right;
    }

    @media (max-width: 650px) {
        .nav-external {
            display: none;
        }
        .nav-internal {
            margin-left: none;
        }
        .title {
            font-size: 1.4em;
            margin: 0 0 10px;
            text-align: center;
        }
    }
}

